body {
  margin: 0;
  box-sizing: border-box;
  /* height: 100vh; */
  background-color: #575E68;
  color: "#E3E3E3";
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

ul {
  padding: 0 !important;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}



/* @media only screen and (max-width:800px){
  .MuiTypography-root{
    font-size:1.2rem;
  }
} */

